@import 'tailwindcss';
@import 'nprogress/nprogress.css';

#nprogress .bar {
  background: #ef857d !important;
}

.home-form input,
.home-form .ant-input-outlined {
  background-color: transparent;
}

.cat {
  animation: walk var(--walk-duration, 4s) infinite linear;
}
.cat:hover {
  animation-play-state: paused;
}

@keyframes walk {
  0% {
    transform: translateX(0) scaleX(1);
  }
  50% {
    transform: translateX(var(--max-move, 200px)) scaleX(1);
  }
  51% {
    transform: translateX(var(--max-move, 200px)) scaleX(-1);
  }
  100% {
    transform: translateX(0) scaleX(-1);
  }
}
